<main>
<div id="black-card">
		<h2 class="form-control" id="black"></h2>
		<span class="black-strapline">
			<img src="/img/cards-icon.png" alt="cards icon">
			<h5>CRUDs Against Humanity</h5>
		</span>
	</div>

	<div id="white-cards">

		<div class="player" id="player1">
			<div class="card white-card">
				<h4 id="white1">Text goes here</h4>
				<span class="white-strapline">
					<img src="/img/cards-icon-black.png" alt="cards icon">
					<h6>CRUDs Against Humanity</h6>
				</span>
			</div>
		</div>

		<div class="player" id="player2">
			<div class="card white-card">
				<h4 id="white2">Text goes here</h4>
				<span class="white-strapline">
					<img src="/img/cards-icon-black.png" alt="cards icon">
					<h6>CRUDs Against Humanity</h6>
				</span>
			</div>
		</div>

		<div class="player" id="player3">
			<div class="card white-card">
				<h4 id="white3">Text goes here</h4>
				<span class="white-strapline">
					<img src="/img/cards-icon-black.png" alt="cards icon">
					<h6>CRUDs Against Humanity</h6>
				</span>
			</div>
		</div>

		<div class="player" id="player4">
			<div class="card white-card">
				<h4 id="white4">Text goes here</h4>
				<span class="white-strapline">
					<img src="/img/cards-icon-black.png" alt="cards icon">
					<h6>CRUDs Against Humanity</h6>
				</span>
			</div>
		</div>

		<div class="player" id="player5">
			<div class="card white-card">
				<h4 id="white5">Text goes here</h4>
				<span class="white-strapline">
					<img src="/img/cards-icon-black.png" alt="cards icon">
					<h6>CRUDs Against Humanity</h6>
				</span>
			</div>
		</div>

		<div class="player" id="suck">
			<div class="card">
				<h4>All of these cards suck.</h4>
				<img src="/img/refresh.svg" alt="new cards" id="new-cards">
			</div>
		</div>

	</div>

</main>
