<main>
	<div id="black-card">
		<h2 id="black-card-text"></h3>
		<span class="black-strapline">
			<img src="/img/cards-icon.png" alt="cards icon">
			<h5>Cards Against Humanity</h5>
		</span>
	</div>

	<div id="white-cards">
		<div class="player" id="player1">
			<h4 id="player1-name">Name</h4>
			<div class="white-card">
				<h4 id="white1">La la la</h4>
			</div>
			<h4 class="score" id="player1-score">0</h4>
		</div>
		<div class="player" id="player2">
			<h4 id="player2-name">Name</h4>
			<div class="white-card">
				<h4 id="white2">La la la</h4>
			</div>
			<h4 class="score" id="player2-score">0</h4>
		</div>
		<div class="player" id="player3">
			<h4 id="player3-name">Name</h4>
			<div class="white-card">
				<h4 id="white3">La la la</h4>
			</div>
			<h4 class="score" id="player3-score">0</h4>
		</div>
		<div class="player" id="player4">
			<h4 id="player4-name">Name</h4>
			<div class="white-card">
				<h4 id="white4">La la la</h4>
			</div>
			<h4 class="score" id="player4-score">0</h4>
		</div>
	</div>
</main>