<!DOCTYPE html>
<html>
<head>
	<title>CRUDs Against Humanity</title>
	<script src="https://use.fontawesome.com/0b8790a92d.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav>
		<a href="#"><h3>CRUDs Against Humanity</h3></a>
		<span id="nav-links">
			<a href="/game">The Game</a>
			<a href="/history">Your Sordid Past</a>
		</span>
	</nav>
	<div class="container">
		<%- body %> 
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/cards.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>