<div id="scores-card">
	<h1>All-Time Worst People:</h1>

	<span id="scores-header">
		<h4>Name</h4>
		<h4>All-Time Score</h4>
	</span>

	<span class="player-history">
		<h2>Name</h2>
		<h2>0</h2>
	</span>

	<span class="player-history">
		<h2>Name</h2>
		<h2>0</h2>
	</span>

	<span class="player-history">
		<h2>Name</h2>
		<h2>0</h2>
	</span>

</div>